<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
</head>
<body>
    <h1 style="margin-bottom: 5%;font-weight: 900;text-align: center;">Gallery Image</h1>
    <div style="width: 80%;margin: 0 auto;border: 2px dotted rgb(5, 214, 241);padding: 2%;">
        <div style="width: 100%;">
            <img src="{{gallery.image.url}}" alt="" >
        </div>
    </div>
</body>
</html>