<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<title>Document</title>
</head>
<body>
	<section id="spotlight">
		<section class="wrapper">
			<div class="contents">
				<div class="heart-shape">
					<span>&#10084;</span>
				</div>
				<h1>Nano Folio</h1>
			</div>
		</section>
	</section>

    <section id="about">
        <section class="wrapper">
            <div class="container">
                <div class="left">
                    <div class="icon">
                        <img src="{{abouts.image.url}}" alt="Image" />
                    </div>
                    <h3>
                        {{abouts.title}}
                    </h3>
                </div>

                <div class="right">
                    <p>
						{{abouts.description}}
                    </p>
                </div>
            </div>
        </section>
    </section>

	<section id="gallery">
		<section class="wrapper">
		  <div class="top">
			<ul>
			  <li><a href="#">City</a></li>
			  <li><a href="#">Nature</a></li>
			  <li><a href="#">Portraits</a></li>
			  <li><a href="#">Show all</a></li>
			</ul>
		  </div>
		<div class="bottom">
			{% for gallery in galleries %}
			<div class="frame">
				<img src="{{gallery.image.url}}" alt="Image" />
			</div>
			{% endfor %}
		  </div>
		</section>
	  </section>

	  <footer>
		<section class="wrapper">
			<form action="">
				<input type="text" placeholder="name" />
				<input type="email" placeholder="email" />
				<textarea name="" id="" cols="30" rows="5" placeholder="message"></textarea>
				<input type="submit" value="send" />
			</form>
			<div class="middle">
				<p class="paragraph">
					120 curabitor sed tortur ultrices,congue odio eget,poseuro urna.prasent at rhonscus 1980.
				</p>
				<p class="tel">
					Tel:010-020-0340
				</p>
				<ul>
					<li class="social">
						<a href="#" >
							<img src="{% static 'img/facebook-brands.svg' %}" alt="Social Media">
						</a>
					</li>
					<li class="social">
						<a href="#" >
							<img src="{% static 'img/twitter-brands.svg' %}" alt="Social Media">
						</a>
					</li>
					<li class="social">
						<a href="#" >
							<img src="{% static 'img/instagram-brands.svg' %}" alt="Social Media">
						</a>
					</li>
				</ul>
			</div>
			<div class="right">
				<div class="img_container">
					<img src="{% static 'img/searchengin-brands.svg' %}" alt="Lens">
				</div>
				<p>Contact</p>
			</div>
		</section>
		<p class="footer">
			Copyright 2020 Nano Folio  - Design Tooplate
		</p>
		
	</footer>
</body>
</html>